.confirm-complete
  .confirm-box
    .confirm-box__message
      .message_question
        購入を確定しますか？
    .confirm-box__image
      = image_tag @item.item_images[0].image_url.url, size: "100x100"
    .confirm-box__name
      .name__confirm-name
        = @item.name
    .confirm-box__price
      .price__confirm-price
        ¥
        = @item.price
        (税込)
      .price__confirm-ship
        = @item.ship_price
    .confirm-box__purchase
      .purchase__confirm-btn
        = form_tag done_purchase_path do
          %button 購入を確定する
