.mypage-prduct
  .mypage-prduct__side
    .side__nav
      .nav__lists
        .lists__list
          = link_to 'マイページ', '#', class:'mylist'
          %i.fas.fa-chevron-right
        .lists__list
          = link_to 'お知らせ', '#', class:'mylist'
          %i.fas.fa-chevron-right
        .lists__list
          = link_to 'やることリスト', '#', class:'mylist'
          %i.fas.fa-chevron-right
        .lists__list
          = link_to 'いいね！一覧', '#', class:'mylist'
          %i.fas.fa-chevron-right
        .lists__list
          = link_to  '出品する', new_item_path, class:'mylist'
          %i.fas.fa-chevron-right
        .lists__list
          = link_to '下書き一覧', '#', class:'mylist'
          %i.fas.fa-chevron-right
        .lists__list
        - current_user.items.each do |item|
          - if  item.item_images[0].present?
            %ul
              %li
                = link_to image_tag( item.item_images[0].image_url.url, height: "150", width: "150", class: "mylist"), item_path(item.id)
              %li
                = link_to item.name, item_path(item.id), {class: "mylist"}
          %i.fas.fa-chevron-right
        .lists__list
          = link_to '出品した商品-取引中', '#', class:'mylist'
          %i.fas.fa-chevron-right
        .lists__list
          = link_to '出品した商品-売却済み', '#', class:'mylist'
          %i.fas.fa-chevron-right
        .lists__list
          = link_to '購入した商品-取引中', '#', class:'mylist'
          %i.fas.fa-chevron-right
        .lists__list
          = link_to '購入した商品-過去の取引', '#', class:'mylist'
          %i.fas.fa-chevron-right
        .lists__list
          = link_to 'ニュース一覧', '#', class:'mylist'
          %i.fas.fa-chevron-right
        .lists__list
          = link_to '評価一覧', '#', class:'mylist'
          %i.fas.fa-chevron-right
        .lists__list
          = link_to 'ガイド', '#', class:'mylist'
          %i.fas.fa-chevron-right
        .lists__list
          = link_to 'お問い合わせ', '#', class:'mylist'
          %i.fas.fa-chevron-right
      .nav__title
        ポイント
      .nav__lists
        .lists__list
          = link_to '売上・振込申請', '#', class:'mylist'
          %i.fas.fa-chevron-right
        .lists__list
          = link_to 'ポイント', '#', class:'mylist'
          %i.fas.fa-chevron-right
      .nav__title
        設定
      .nav__lists
        .lists__list
          = link_to 'プロフィール', '#', class:'mylist'
          %i.fas.fa-chevron-right
        .lists__list
          = link_to '発送元・届け先住所変更', '#', class:'mylist'
          %i.fas.fa-chevron-right
        .lists__list
          = link_to '支払方法', new_card_path, class:'mylist'
          %i.fas.fa-chevron-right
        .lists__list
          = link_to 'メール/パスワード', '#', class:'mylist'
          %i.fas.fa-chevron-right
        .lists__list
          = link_to '本人情報', '#', class:'mylist'
          %i.fas.fa-chevron-right
        .lists__list
          = link_to '電話番号の確認', '#', class:'mylist'
          %i.fas.fa-chevron-right
        .lists__list
          = link_to 'ログアウト', destroy_user_session_path, method: :delete, class:'mylist'
          %i.fas.fa-chevron-right
  .mypage-prduct__contents
    .contents__user-info
      .user-info__my-img
      .user-info__my-name
        = current_user.nickname
      .user-info__user-info
        .user-info__evaluation
          評価  5
        .user-info__exhibition
          出品数  7
    .contents__content-tabs
      .content-tabs__my-tab
        .my-tab__news-transaction
          = link_to "#" do
            お知らせ
        .my-tab__todo-past
          = link_to "#" do
            やることリスト
      .content-tabs__lists
        .lists__mylist
          = link_to "#" do
            .mylist__body
              .body__text
                事務局から個別メッセージ
              %time
                %i.far.fa-clock
                  1日前
              %i.fas.fa-chevron-right
        .lists__mylist
          = link_to "#" do
            .mylist__body
              .body__text
                事務局から個別メッセージ
              %time
                %i.far.fa-clock
                  2日前
              %i.fas.fa-chevron-right
        .lists__mylist
          = link_to "#" do
            .mylist__body
              .body__text
                事務局から個別メッセージ
              %time
                %i.far.fa-clock
                  3日前
              %i.fas.fa-chevron-right
        .lists__mylist
          = link_to "#" do
            .mylist__body
              .body__text
                事務局から個別メッセージ
              %time
                %i.far.fa-clock
                  4日前
              %i.fas.fa-chevron-right
        .lists__mylist
          = link_to "#" do
            .mylist__body
              .body__text
                事務局から個別メッセージ
              %time
                %i.far.fa-clock
                  5日前
              %i.fas.fa-chevron-right
        .lists__mylist
          = link_to "#", class: 'my-show' do
            一覧を見る
    .contents__content-tabs
      .content-tabs__purchase
        購入した商品
      .content-tabs__my-tab
        .my-tab__news-transaction
          取引中
        .my-tab__todo-past
          過去の取引
      .content-tabs__lists
        .lists__mylist
          = link_to "#" do
            .mylist__body
              .body__text
                商品名
              %time
                %i.far.fa-heart
                  3
              .comment
                %i.far.fa-comment-alt
                  4
              %i.fas.fa-chevron-right
        .lists__mylist
          = link_to "#" do
            .mylist__body
              .body__text
                商品名
              %time
                %i.far.fa-heart
                  3
              .comment
                %i.far.fa-comment-alt
                  4
              %i.fas.fa-chevron-right
        .lists__mylist
          = link_to "#" do
            .mylist__body
              .body__text
                商品名
              %time
                %i.far.fa-heart
                  3
              .comment
                %i.far.fa-comment-alt
                  4
              %i.fas.fa-chevron-right
        .lists__mylist
          = link_to "#" do
            .mylist__body
              .body__text
                商品名
              %time
                %i.far.fa-heart
                  3
              .comment
                %i.far.fa-comment-alt
                  4
              %i.fas.fa-chevron-right
        .lists__mylist
          = link_to "#" do
            .mylist__body
              .body__text
                商品名
              %i.fas.fa-chevron-right
              %time
                %i.far.fa-heart
                  3
              .comment
                %i.far.fa-comment-alt
                  4