.item-new-body
  .item-new-body__header
    .header__logo
      =link_to root_path do
        = image_tag "logo.png", size: "180x50"
  .item-new-body__main
    %h2 商品の情報の入力
    = form_with scope: :item, model: @item, class: :new_product, local: true, multipart: true do |f|
      = render 'layouts/error_messages', model: f.object
      .new_product__upload-images
        %h3 
          出品画像
          %span 必須
        %p 最大5枚までアップロードできます
        .images-drop
          .images-drop__container
            = f.fields_for :item_images, @item do |i|
              .container-box
                .container-box__preview#preview
                .container-box__area
      .new_product__item-content
        .content-formbox
          %h3
            商品名
            %span 必須
          .item_input
            = f.text_field :name, class: "item_input--name", id: "input-default", maxlength: 40,  placeholder: "商品名(40文字まで)"
        .content-formbox
          %h3
            商品の説明
            %span 必須
          .item_input
            =f.text_area :description, class: "item_input--explain", maxlength: 1000, placeholder: "商品の詳細を入力してください(1000文字以内)\n2015年に5000円で購入したグレーのTシャツです。"
      .new_product__item-content.formFlex
        %h4 商品の詳細
        .listing-form-box
          .listing-product-detail__category
            %h3
              カテゴリー
              %span 必須
            .listing-select-wrapper
              .listing-select-wrapper__box
                = f.select :category_id, @category_parent_array, {prompt: '---'}, {class: 'listing-select-wrapper__box--select', id: 'parent_category'} 
                %i.fas.fa-angle-down.listing-select-wrapper__box--arrow-down
          .content-formbox
            %h3
              サイズ
              %span 必須
            .select-box
              .select-box__wrapper
                %i.fa.fa-angle-down
                = f.select :size, Item.sizes, prompt: '---', class: "item_size"
          .content-formbox
            %h3
              商品の状態
              %span 必須
            .select-box
              .select-box__wrapper
                %i.fa.fa-angle-down
                = f.select :condition, Item.conditions, prompt: '---', class: "item_condition"
          .content-formbox
            %h3
              ブランド
              %span.gray 
                任意
            .select-box
              .select-box__wrapper
                %i.fa.fa-angle-down
                = f.collection_select :brand_id , Brand.all , :id, :name, prompt: '---', class: "item_input--brand"
      .new_product__item-content.formFlex
        %h4 配送について
        = link_to "？", "https://www.mercari.com/jp/help_center/article/68/", class: 'help-icon'
        .item-content-box
          .content-formbox
            %h3
              配送料の負担
              %span 必須
            .select-box
              .select-box__wrapper
                %i.fa.fa-angle-down
                = f.select :ship_price, Item.ship_prices, prompt: '---', class: "ship_fee"
          .content-formbox
            %h3
              配送の方法
              %span 必須
            .select-box
              .select-box__wrapper
                %i.fa.fa-angle-down
                = f.select :ship_method, Item.ship_methods, prompt: '---', class: "ship_method"
          .content-formbox
            %h3
              発送元の地域
              %span 必須
            .select-box
              .select-box__wrapper
                %i.fa.fa-angle-down
                =  f.collection_select :ship_area, Prefecture.all, :id, :name, prompt:'---', class: "ship_area"
          .content-formbox
            %h3
              発送までの日数
              %span 必須
            .select-box
              .select-box__wrapper
                %i.fa.fa-angle-down
                = f.select :ship_day, Item.ship_days, prompt: '---', class: "ship_day"
      .new_product__item-content.formFlex
        %h4 販売価格(300〜9,999,999)
        =link_to "？", "https://www.mercari.com/jp/help_center/article/64/", class: 'help-icon'
        .item-content-box
          %ul
            %li.price-group
              .price-group--title
                %h3
                  価格
                  %span 必須
              .price-group--input
                %p ¥
                .selling-input
                  = f.number_field :price, min:300, max:9999999, class: "selling-input--form", id: "sell-price", placeholder: "例）300", value: ""
            %li.price-group.border
              .price-group--title 販売手数料(10%)
              .price-group--input
                .price-fee
                  .price-fee--display 
            %li.price-group.border
              .price-group--title
                %h3 販売利益
              .price-group--input
                .price-profit
                  .price-profit--display 
      .new_product__item-content.consent-btn
        .terms-box
          %p
            =link_to "禁止されている出品", "https://www.mercari.com/jp/help_center/getting_started/prohibited_items/", class: 'link_blue'
            、
            =link_to "行為", "https://www.mercari.com/jp/help_center/getting_started/prohibited_conduct/", class: 'link_blue'
            を必ずご確認ください。
          %p
            またブランド品でシリアルナンバー等がある場合はご記載ください。
            =link_to "偽ブランドの販売", "https://www.mercari.com/jp/help_center/getting_started/counterfeit_goods/", class: 'link_blue'
            は犯罪であり処罰される可能性があります。
          %p
            また、出品をもちまして
            =link_to "加盟店規約", "https://www.mercari.com/jp/help_center/getting_started/counterfeit_goods/", class: 'link_blue'
            に同意したことになります。
        = f.submit "出品する", class:"exhibit", id:"product_botton"
        =link_to "戻る", root_path, class: 'back-btn'

  .item-new-body__footer
    .footer__detail
      = link_to "プライバシーポリシー", "https://www.mercari.com/jp/privacy/"
      = link_to "FURIMA利用規約", "https://www.mercari.com/jp/tos/"
      = link_to "特定商取引に関する表記", "https://www.mercari.com/jp/tokutei/"
    .footer__logo
      = link_to root_path do
        = image_tag "logo-white.png", size: "180x50"
    %p ©︎ 2020 FURIMA
