.buy-main
  .buy-main__box
    .box__content
      .content__buy-title
        購入内容の確認
      .content__buy-product
        .buy-product__inner
          .inner__item
            .item__image
              = image_tag @item.item_images[0].image_url.url, size: "100x100"
            .item__name
              = @item.name
          .inner__info
            .info__price
              ¥
              = @item.price
            .info__point
              ポイントはありません
            .info__price-table
              .price-table__payment
                支払金額
              .price-table__pay
                ¥
                = @item.price
            .info__buy-btn
              = link_to '購入する', purchase_path(@item), class: "purchase-btn"
      .content__buy-user-info
        .buy-user-info__title
          配送先
        .buy-user-info__text
          = @address.post_code
          %br
          -# = @address.prefecture_id
          = @address.address_city
          = @address.address_street
          = @address.address_building
          %br
          = @address.first_name
          = @address.last_name
        .buy-user-info__change
          = link_to '変更する', '#'
      .content__buy-user-info
        .buy-user-info__title
          支払方法 
        .buy-user-info__text
          = "**** **** **** " + @default_card_information.last4
          %br
          - exp_month = @default_card_information.exp_month.to_s
          - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
          = exp_month + " / " + exp_year
        .buy-user-info__change
          = link_to '変更する', '#'
