.addresses__new
  .addresses__title
    = link_to root_path do
      = image_tag src=("logo.png"), class: "addresses__image"
    %ul.new__lists
      %li.new__list
        会員情報
        .list__circle--red
      %li.new__list
        お届け先住所入力
        .list__circle--red
      %li.new__list
        完了
        .list__circle--red
  .new__border
  .success__form
    .success__container
      .success__title
        %p 登録が完了しました
      .success__btn
        .root__btn
          = link_to "完了", root_path, class: "btn"
  .new__footer
    %ul.footer__lists
      %li
        プライバシーポリシー
      %li
        フリマ利用規約
      %li
        特定商取引に関する表記
    .footer__icon
      = link_to root_path do
        = image_tag src=("logo-white.png"), class: "icon__image"
    .footer__text
      %p ©︎ 2020 Furima