.user__new
  .new__title
    = link_to root_path do
      = image_tag src=("logo.png"), class: "title__image"
    %ul.new__lists
      %li.new__list
        会員情報
        .list__circle--red
      %li.new__list
        お届け先住所入力
        .list__circle
      %li.new__list
        完了
        .list__circle
  .border
  .new__form
    .form__container
      .container__title
        %p 会員情報入力
      = form_with model: @user, url: user_registration_path, method: :post, data: {turbolinks: :false}, local: true do |f|
        .user__field
          .private__field
            = f.label :"ニックネーム"
            = f.label :"必須", class: "field__require"
            %br/
            = f.text_field :nickname, placeholder: "例)フリマ太郎"
          %ul.error
            %li#nickname_error
          .private__field
            = f.label :"メールアドレス"
            = f.label :"必須", class: "field__require"
            %br/
            = f.email_field :email, autocomplete: "email",placeholder: "@・ドメイン含む"
          %ul.error
            %li#email_error
          .private__field
            = f.label :"パスワード"
            = f.label :"必須", class: "field__require"
            %br/
            = f.password_field :password, autocomplete: "new-password", placeholder: "半角7文字以上"
          %ul.error
            %li#password_error
          .private__field
            = f.label :"パスワード確認"
            = f.label :"必須", class: "field__require"
            %br/
            = f.password_field :password_confirmation, autocomplete:"new-password", placeholder: "半角7文字以上"
          %ul.error
            %li#password_confirmation_error
          .page__word
            %p ※ 英字と数字の両方を含めて設定してください
          .check__box
            = check_box_tag :password
            = label_tag :"パスワードを表示する"
          .private__field
            = f.label :"電話番号"
            = f.label :"必須", class: "field__require"
            %br/
            = f.telephone_field :phone_number, placeholder: "080-1234-5678"
          %ul.error
            %li#phone_number_error
          .private__check
            %h3 本人確認
            %p 安心・安全にご利用いただくために、お客さまの本人情報の登録に協力ください。他のお客さまに公開されることはありません。
          .name__field
            = f.label :"お名前(全角)"
            = f.label :"必須", class: "field__require"
            %br/
            = f.text_field :first_name, placeholder: "例)振間"
            = f.text_field :last_name, placeholder: "例)太郎"
          %ul.error
            %li#first_name_error
            %li#last_name_error
            %br/
          .name__field
            = f.label :"お名前カナ(全角)"
            = f.label :"必須", class: "field__require"
            %br/
            = f.text_field :first_name_reading, placeholder: "例)フリマ"
            = f.text_field :last_name_reading, placeholder: "例)タロウ"
          %ul.error
            %li#first_name_reading_error
            %li#last_name_reading_error
          .birthday__field
            = f.label :"生年月日"
            = f.label :"必須", class: "field__require"
            %br/
            = f.select :birthday_year, User.birthday_years.keys, {}
            %span 年
            = f.select :birthday_month, User.birthday_months.keys, {}
            %span 月
            = f.select :birthday_day, User.birthday_days.keys, {}
            %span 日
          %ul.error
            %li#birthday_year_error
            %li#birthday_month_error
            %li#birthday_day_error
          .page__word
            %p ※ 本人情報は正しく入力してください。会員登録後、修正するには時間を頂く場合があります。
          .agree
            %p 「次へ進む」のボタンを押すことにより、利用規約に同意したものみなします
          .submit
            = f.submit "次へ進む", id: "submit", class: "submit__btn"
          .user__foot
            %p 本人情報の登録について
  .new__footer
    %ul.footer__lists
      %li
        プライバシーポリシー
      %li
        フリマ利用規約
      %li
        特定商取引に関する表記
    .footer__icon
      = link_to root_path do
        = image_tag src=("logo-white.png"), class: "icon__image"
    .footer__text
      %p ©︎ 2020 Furima